<section>
  <% if cart.present? %>
    <ul>
      <% cart.each do |l| %>
        <li class="level-right">
          <%= l.laptop_name %>
          <%= form_with url: update_quantity_cart_path(l.id), method: :patch do |form| %>
            <div class="control">
              <%= number_field_tag :quantity, session[:quantities][l.id.to_s] || 1, class: 'input is-small', min: 1, style: 'width: 4em;' %>
              <%= form.submit 'Update', class: 'button is-small is-info' %>
            </div>
          <% end %>
            <%= button_to 'Remove', cart_path(l.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
<section class="is-flex is-flex-direction-column is-align-items-center">
  <div class="mb-3">
    Sub-Total: <%= number_to_currency(@total_price) %>
  </div>
  <div>
    <%= button_to 'Order' %>
  </div>
</section>