<link rel="stylesheet" type="text/css" href="laptops.css">
<%= form_with(url: search_laptops_path, method: :get, local: true) do |form| %>
  <div class="field is-grouped mb-5">
    <%= text_field_tag(:keywords, nil, class:"input", placeholder: 'Search for Laptop') %>
    <%= select_tag(:brand, options_for_select(['All Brands', "Razer"]), class: "select") %>
  </div class="control">
    <%= submit_tag("Search", class: "button is-primary") %>
<% end %>

<h1 class="title has-text-centered">Available Laptops</h1>
  <div class="columns is-multiline">
    <% @laptops.each do |laptop| %>
    <div class="column is-one-tenth">
      <div class="box laptop-box">
      <% if laptop.image.present? %>
        <div class="laptop-image"><%= image_tag(laptop.image, size: '200x200')%></div>
      <% else %>
        <div class="laptop-image-placeholder"></div>
      <% end %>
        <div class="laptop-name"> <%= link_to laptop.brand + ' ' + laptop.laptop_name, laptop %> - $<%= number_with_delimiter(number_with_precision(laptop.price, precision: 2)) %> </div>
      </div>
    </div>
    <% end %>
  </div>

<%= paginate @laptops %>