<h1><%= @laptop.brand %> <%= @laptop.laptop_name %></h1>
<p><%= @laptop.model %></p>
<p><%= number_with_delimiter(number_with_precision(@laptop.price, precision: 2)) %></p>
<p><%= @laptop.processor %></p>
<p><%= @laptop.ram %></p>
<p><%= @laptop.storage %></p>
<p><%= @laptop.operating_system %></p>
