<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EcommerceProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  </head>

  <body>

    <%= render partial: 'common/header' %>
    <%#= debug session[:shopping_cart] %>
    <%#= debug session[:quantities] %>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <section class="section">
      <div class="container">
      </div>
    <%= yield %>
    </section>
  </body>
</html>
